@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");

.locationBox {
  display: flex;
  font-size: 1rem;
  font-family: "Cal Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #db2a2a;
  margin-top: 4vh;
  margin-left: 2vw;
  gap: 0.5vw;
}

.locationLink:hover {
  cursor: pointer;
}
